<!--确认删除会员等级标签modal-->
<div class="modal fade" id="DeleteLevelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" ng-controller="DeleteMemberShipLevelCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">确定是否删除此会员等级</h4><!--(若删除,与此等级相关联的客户将不存在等级)-->
            </div>
            <div class="modal-footer">
                 <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary btn-sm" ng-click="DeleteMemberShipLevel(mebershiplevel)">确 定</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
