<!--公海客户转化为销售机会确认modal-->
<div class="modal fade" id="TransforSaleOpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" ng-controller="ShowModalAboutSeaCustomrCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <i class="titlefont fa fa-credit-card pull-left marginmodal"></i>
                <h4 class="modal-title">确定是否转化成销售机会</h4>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" ng-click="TransforSaleChance(seacustomer)">确 定</button>
            </div>
            <div class="modal-footer">
                
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
