<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">主页</h1>
        </div>
    </div>

    <div class="row">
        <a href="#/client">
            <div class="col-lg-3 col-sm-3">
                <div class="well-bg well">
                    <h5 class="logo-title margin_topnull">gogo:30</h5>
                    <h5 class="logo-title">自有：40</h5>
                    <p class="margin_btnnull whitecolor">客户</p>
                </div>
            </div>
        </a>
        <a href="#/spendingrecords">
            <div class="col-lg-3 col-sm-3">
                <div class="well-bg well">
                    <h4 class="logo-title">600.00</h4>
                    <p class="whitecolor">目前共消费</p>
                </div>
            </div>
        </a>
        <a href="#/seacustomer">
            <div class="col-lg-3 col-sm-3">
                <div class="well-bg well">
                    <h4 class="logo-title">400</h4>
                    <p class="whitecolor">公海客户</p>
                </div>
            </div>
        </a>
        <a href="#/salesopportunity">
            <div class="col-lg-3 col-sm-3">
                <div class="well-bg well">
                    <h4 class="logo-title">600</h4>
                    <p class="whitecolor">销售机会</p>
                </div>
            </div>
        </a>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-2">
                            <i class="fa fa-bar-chart-o fa-fw"></i>消费趋势图
                        </div>
                        <div class="col-sm-5 pull-right padding_rightnull">
                            <div class="form-horizontal">
                                <label class="control-label col-sm-5 lable-sm padding_rightnull">自定义时间：</label>
                                <div class="input-group col-sm-7 padding_leftnull">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input id="reservation" class="form-control input-sm pull-right ng-pristine ng-valid" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
<!--                      <div class="btn-group btn-group-right">
                         <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                            {{ChoseSaleTotalTrendGraph}}<span class="caret"></span>
                         </button>
                         <ul class="dropdown-menu" role="menu">
                             <li><a ng-click="SaleTotalTrendGraph(1)">默认(昨日今日)</a></li>
                             <li><a ng-click="SaleTotalTrendGraph(2)">自定义时间</a></li>
                         </ul>
                     </div> -->
                <!--     <div class="col-sm-5 pull-right">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-5 lable-sm padding_rightnull">自定义时间：</label>
                                <div class="input-group col-sm-7 padding_leftnull">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input id="reservation" class="form-control input-sm pull-right ng-pristine ng-valid" type="text">
                                </div>
                            </div>
                        </div>
                    </div> -->
     
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="flot-line-chart"></div>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>

        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    消费同比（消费年龄层）
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="flot-pie-chart"></div>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-4">
                            收银员销售情况
                        </div>
                        <div class="col-sm-8 pull-right padding_rightnull">
                            <div class="form-horizontal">
                                <label class="control-label col-sm-5 padding_rightnull">自定义时间：</label>
                                <div class="input-group col-sm-7 padding_leftnull">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input id="CashierTimeControl" class="form-control input-sm pull-right ng-pristine ng-valid" type="text">
                                </div>
                            </div>
                        </div>
                    <!--  <div class="btn-group btn-group-right">
                         <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                             {{CashierSaleConditionChose}}<span class="caret"></span>
                         </button>
                         <ul class="dropdown-menu" role="menu">
                             <li><a ng-click="CashierSaleBarChart(1)">默认(今日)</a></li>
                             <li><a ng-click="CashierSaleBarChart(2)">自定义时间</a></li>
                         </ul>
                     </div> -->


                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="flot-bar-chart"></div>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>
    <!-- /.row -->
</div>
