<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="titlefont font20 page-header">客户维护</h1>
        </div>
    </div>
    <div class="row well margin_bot">
        <form ng-class="showerror?'showerror':''" name="SendGogoMessageForm">
            <div class="col-sm-2 padding_null">
                <div class="form-horizontal">
                    <lable class="col-sm-3 lable-top padding_null">群发</lable>
                    <div class="col-sm-9 padding_null">
                        <div class="btn-toolbar group-bot">
                            <div class="btn-group btn-group-right">
                                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                    {{!show?'GOGO客户':'按会员等级选择'}}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a ng-click="ChoseLoadGogoCustomerList()">GOGO客户</a></li>
                                    <li><a ng-click="ShowLevel(choselevel)">按会员等级选择</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="btn-toolbar" ng-show="show?true:false">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    {{choselevel.Name}}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-repeat="mebershiplevel in mebershiplevels"><a ng-click="ChoseCustomerRank(mebershiplevel)">{{mebershiplevel.Name}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-horizontal">
                    <lable class="col-sm-1 lable-top padding_null">内容</lable>
                    <div class="col-xs-11 padding_null">
                        <textarea class="form-control" rows="3" ng-model="message.content" ng-required="true"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 padding_null">
                <div class="col-sm-12 padding_null">
                    <img class="img-thumbnail" style="width: 91px; height: 91px;" src="img/default.png">
                </div>
            </div>
            <div class="col-sm-2 padding_null">
                <p class="margin_bot send-btn-top">
                    <a class="graycolor ">删除图片</a>
                </p>
                <button class="btn btn-primary btn-sm" type="button" ng-click="SendMessage(gogoclients,message)">发送消息</button>
            </div>

           <!--上传图片弹出框-->
            <div id="userHeadImageSelectModal" class="modal hide fade" style="width: 820px; height: 400px; overflow: hidden" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myAPModalLabel">选择头像</h3>
                </div>
                <div class="modal-body" style="width: 800px; height: 400px;">
                    <div class="popupBox clearfix" style="width: 800px; height: 400px; min-height: 400px;">
                        <iframe id="salesUserHeadImageIframe" src="" style="width: 800px; height: 400px; border: none; overflow: hidden"></iframe>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>姓名</th>
                            <th>性别</th>
                            <th>会员等级</th>
                            <th>手机号</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="gogoclient in gogoclients " class="odd gradeX" ng-click="ShowClientDetailModal()">
                            <td>{{$index+1}}</td>
                            <td>{{gogoclient.username}}
                            </td>
                            <td>{{gogoclient.sex==1?'男':'女'}}
                            </td>
                            <td>{{gogoclient.shoprankname}}
                            </td>
                            <td class="center">{{gogoclient.mobile}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <ul class="pagination">
                <li ng-repeat="page in pages | filter:'pre'"><a ng-href="{{page.url}}"><<</a></li>
                <li ng-class="{{page.active}}?'active':''" ng-repeat="page in pages | filter:'page'"><a ng-href="{{page.url}}">{{page.index}}</a></li>
                <li ng-repeat="page in pages | filter:'next'"><a ng-href="{{page.url}}">>></a></li>
            </ul>
        </div>
    </div>
</div>

