<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="titlefont font20 page-header">会员等级设置</h1>
        </div>
    </div>
    <div class="row margin_bot">
        <div class="col-lg-12">
            <a ng-click="AddMemberShipLevelmodal(mebershiplevels.length)" >新增</a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">当前会员等级</div>
                <div class="panel-body" >
                    <div class="col-md-3" ng-repeat="mebershiplevel in mebershiplevels">
                        <button class="btn btn-outline btn-warning btn-lg pull-left" type="button">{{mebershiplevel.Name}}</button>
                        <button type="button" class="close pull-left close_btn" aria-hidden="true" ng-click="DeleteMemberShipLevel(mebershiplevel)">&times;</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div ng-include="'partials/merchant/addmeberlevel-modal.html'"></div>
