<!--商家基本信息-->
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="titlefont font20 page-header">商家基本信息</h1>
        </div>
    </div>
    <form name="EditMerchantForm" ng-class="showerror?'showerror':''">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="panel panel-default">
                    <div class="mer_infofrom">
                        <div class="col-lg-2 mer_content">
                            <lable class="font16 pull-right">商户名称:</lable>
                        </div>
                        <div class="col-lg-8 ">
                            <label ng-show="!Ntype?true:false" class="font16 font500 graycolor mer_content">{{merchantinfo.name}}</label>
                            <input class="form-control margin_input" placeholder="请输入商户名称" ng-model="merchantinfo.name" ng-required="true" ng-show="Ntype?true:false">
                        </div>
                        <div class="col-lg-2">
                            <a class="mer_edit" ng-click="Ntype=!Ntype;!Ntype?SaveEditMerchant(merchantinfo):''">{{!Ntype?'编辑':'保存'}}</a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <!-- /.row -->
    </form>
</div>
