<!--设置会员等级关联-->
<div class="modal fade" id="SetMemeberShipModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" ng-controller="SetMemeberShipLevelCtrl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;</button>
                <i class="titlefont glyphicon glyphicon-plus pull-left marginmodal"></i>
                <h4 class="modal-title">设置会员等级</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label">会员等级</label>
                    <div class="col-sm-6">
                        <div class="btn-group btn-group-right">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                {{choselevel.Name}}
                                    <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="mebershiplevel in mebershiplevels"><a ng-click="ChoseMemberRank(mebershiplevel)">{{mebershiplevel.Name}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    取消</button>
                <button type="button" class="btn btn-primary" ng-click="SaveSetMemeberShipLevel(oneclient,choselevel)">
                    保 存</button>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
</div>
<!-- /.modal -->
