<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<handlers accessPolicy="Read, Script">
			<add name="/crm-php" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\Jcx.Software\VS.Php\2010\PHP 5.3\php-cgi.exe" resourceType="Unspecified" requireAccess="Script"/>
			<add name="/crm-php5" path="*.php5" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\Jcx.Software\VS.Php\2010\PHP 5.3\php-cgi.exe" resourceType="Unspecified" requireAccess="Script"/>
			<add name="/crm-phtml" path="*.phtml" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\Jcx.Software\VS.Php\2010\PHP 5.3\php-cgi.exe" resourceType="Unspecified" requireAccess="Script"/>
			<add name="/crm-inc" path="*.inc" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\Jcx.Software\VS.Php\2010\PHP 5.3\php-cgi.exe" resourceType="Unspecified" requireAccess="Script"/>
		</handlers>
	</system.webServer>
</configuration>
