<!--新增编辑账号 Modal -->

<div class="modal fade" id="AddUsermodal" tabindex="-1" role="dialog"
    aria-hidden="true" ng-controller="AddUserAccountCtrl">
    <form ng-class="showerror?'showerror':''" name="AddUserAccountForm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;</button>
                    <h4 class="modal-title">{{UserAccount.user_id==0?'新增':'编辑'}}{{UserAccount.Type==3?'店员':'收银员'}}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>
                            账户名</label>
                        <input class="form-control" placeholder="账户名" ng-required="true" ng-pattern="/^[a-z\d]{2,64}$/i" ng-model="UserAccount.Account" name="user_account">
                    </div>
                    <div class="form-group">
                        <label>
                            姓名</label>
                        <input class="form-control" placeholder="账户名" ng-required="true" ng-model="UserAccount.Name" name="user_name">
                    </div>
                    <div class="form-group" ng-show="UserAccount.user_id==0?true:false">
                        <label>
                            密码</label>
                        <input class="form-control" placeholder="密码"  name="user_password_new" type="password" ng-minlength="6"  ng-required="true"
                            ng-model="UserAccount.Password">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关 闭</button>
                    <button type="button" class="btn btn-primary" ng-click="UserAccount.user_id==0?AddUserAccount(UserAccount):EditUserAccount(UserAccount)">
                        保 存</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </form>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
